@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&family=Poppins:wght@100;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.todo-weekly {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  background: #ffffff;
  height: 200px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

.ck.ck-editor__main {
  color: #334;
}

.profile-form {
  display: flex; 
  flex-direction: row; 
}

.long-width {
  width: 45%;
}

.short-width {
  width: 25%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sidebar-width {
  width: 18rem;
}

.main-width {
  padding-left: 20rem;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sidebar-width {
    width: 0;
  }

  .main-width {
    padding-left: 0rem;
  }
}

@media only screen and (max-width: 330px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .sidebar-width {
    width: 0;
  }

  .main-width {
    padding-left: 0rem;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .sidebar-width {
    width: 10rem;
  }

  .main-width {
    padding-left: 12rem;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
  

.carouselwrapper {
  overflow: hidden;
  position: relative;
}

.carousel {
  width: var(--carouselWidth);
  margin: 0 0 0 var(--carouselLeftMargin);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.carousel-prev {
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: prev;
}

.carousel-next {
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: next;
}

.carousel-li {
  padding-bottom: 10px;
  text-align: center;
  width: calc(var(--cardWidth) - var(--card-margin) * 2);
  box-sizing: border-box;
}

.carousel-bg-img {
  background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    height: 80px;
    margin: auto;
}

.carousel-logo-img {
  position: absolute;
  top: 65%;
  left: 50px;
} 

.carousel-card-outline {
  font-size: 12px;
  letter-spacing: 0px;
  color: #EC642B;
  text-decoration: none;
}


.ui {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: calc(100% - var(--card-margin) * 2);
  justify-content: space-between;
  padding: var(--card-margin);
  z-index: 100;
}

.carousel-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #111;
  box-shadow: 0px 3px 6px #CECEF7B3;
  border: 1px solid #5A569533;
  transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.carousel-button:hover {
  border: 1px solid #dedede;
}

.carousel-button:focus {
  outline: none;
  border: 1px solid #dedede;
}

.carousel-card {
  border: 1px solid #DDDCE9;
  border-radius: 16px;
  margin: var(--card-margin);
  background: var(--color-white);
}

.carousel-p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0;
}


/* Card image */
.carousel-card-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  /* Center the image */
}

/* Card text */
.carousel-card-text {
  color: #5a5695;
  font-size: 12px;
  padding: 0px 10px;
}

/* Card button */
.carousel-card-button {
  color: #ec642b;
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.carousel-card-button:hover {}


@keyframes next {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(calc(0px + var(--cardWidth)));
  }
}

@keyframes prev {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(calc(0px - var(--cardWidth)));
  }
}
